<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实体关系抽取演示</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
	<style type="text/css">
        /* cytoscape graph */
        #cy ,#ent, #rela{
            height: 300px;
            width: 100%;
        }

    </style>
    <link rel="stylesheet" href="../static/css/nlp.css">
<!--	/deploy_flask/templates/-->
	<script src="../static/js/jquery-2.1.4.min.js"></script> <!--html文件所在位置为当前路径-->
	<script src="../static/js/cytoscape.min.js"></script>
    <SCRIPT LANGUAGE="JavaScript">

        function show_results(res, label) {  //$.get('/query',
			// console.log(res);
            cytoscape({
                container: document.getElementById(label),
				zoom:1,
				minZoom: 0.5,
	    		maxZoom: 1,
				pan: { x: 0, y: 0 },//图的初始平移位置。
				styleEnabled: true,
				hideLabelsOnViewport: false,
				zoomingEnabled: true,
				pixelRatio: 'auto',
                elements:res,
				style: [
					{ selector: 'node',
						css: {'background-color': '#6fb1fc', 'content': 'data(id)'}
						},
					{
						selector: 'edge',
						css: { // 这里的style改为css
							'background-color': '#6fb1fc', 'content': 'data(relationship)',
							// 添加箭头
							'width': 6,
							'line-color': '#ccc',
							'target-arrow-color': '#ccc',
							'target-arrow-shape': 'triangle',
							'curve-style': 'bezier'  // 添加这个之后，箭头才会出来，并且线不会重叠
						},
					}
					],
                layout: {
                	name: 'circle',//circle, cose（乱序）
				 	animate: true,//出来动画
					}
            });
        }
        function UrlPOST(txt,myfun){
            if (txt==""){
                return "error parm";
            }
            var httpurl = "/query";
            $.ajax({
                    type: "POST",
                    data: "text="+txt,
                    url: httpurl,
                    async:false,
                    success: function(data){
                        myfun(data, 'cy');
                    }
            });
        }

        $(document).ready(function(){
            $("#bt_submit").click(function() {
                var txt = $("#txt").val();
                if (txt=="")
                { return; }
                var voc = "";
                voc = UrlPOST(txt,show_results);
            });
        });
		// 下面是处理知识图谱查询结果
        function UrlPOST_entity(name_entity,myfun){
            if (name_entity==""){
                return "error parm";
            }
            var httpurl = "/query_entity";
            $.ajax({
                    type: "POST",
                    data: "name_entity="+name_entity,
                    url: httpurl,
                    async:false,
                    success: function(data){
                        myfun(data, 'ent');
                    }
            });
        }

        $(document).ready(function(){
            $("#entity_query").click(function() {
                var name_entity = $("#name_entity").val();

                if (name_entity=="")
                { return; }
                var voc = "";
                voc = UrlPOST_entity(name_entity,show_results);
            });
        });
        // 下面是查询关系
		function UrlPOST_rel(name_rel,myfun){
            if (name_rel==""){
                return "error parm";
            }
            var httpurl = "/query_rel";
            $.ajax({
                    type: "POST",
                    data: "name_rel="+name_rel,
                    url: httpurl,
                    async:false,
                    success: function(data){
                        myfun(data, 'rela');
                    }
            });
        }

        $(document).ready(function(){
            $("#rel_query").click(function() {
                var name_rel = $("#name_rel").val();

                if (name_rel=="")
                { return; }
                var voc = "";
                voc = UrlPOST_rel(name_rel,show_results);
            });
        });
    </SCRIPT>
</head>
<body class="ai-platform">
<div class="nlp-word">
	<div class="word-head">实体关系抽取演示版本: {{ version }}</div>
	<div class="word-form">
		<div class="com-text-cover">
<!--			<div class="mid-down-title">-->
				<h2 style="margin-bottom:10px;">请输入待分析的文本：</h2>
<!--			</div>-->
			<textarea name="txt" id="txt" spellcheck="false" maxlength="" class="com-txt" onfocus="this.select()">
吃什么：北宋的美食大家苏轼在美食方面的造诣绝对是常人无法比拟的，他留下的美食造福了无数后人，比如：东坡肉
李小璐反倒忙着在外捞金，让贾乃亮忙着操办新家，贾乃亮的家庭地位是要翻身了
歌曲介绍由大飞作词，深白色作曲，吕绍淳编曲的歌曲《直线》，属于专辑中深具爆发力的一首歌曲
			</textarea>
<!--			<div class="ed-form-down"><span class="ed-down-tips">提示：无需处理格式，直接复制文本内容即可</span></div>-->
		</div>
	</div>
	<div class="result-left-title" style="margin-top:40px">抽取结果：
		<input type="button" value=" 提交 " id="bt_submit" style="color:#000" />
	</div>
	<div class="result-cover">
		<div id="cy"></div>
	</div>

	<h2 style="margin-top:20px">请输入待查询的实体：</h2>
	<div style="margin-top:10px">
		<textarea style="overflow-y: hidden" name="name_entity" id="name_entity" spellcheck="false" maxlength="" class="com-txt" onfocus="this.select()">李彦宏
		</textarea>
	</div>
	<div class="result-left-title" style="margin-top:10px">查询结果：
			<input type="button" value=" 提交 " id="entity_query" style="color:#000" />
			</div>
	<div class="result-cover">

		<div id="ent"></div>
	</div>

	<h2 style="margin-top:20px">请输入待查询的关系：</h2>
	<div style="margin-top:10px">
		<textarea style="overflow-y: hidden" name="name_rel" id="name_rel" spellcheck="false" maxlength="" class="com-txt" onfocus="this.select()">丈夫
		</textarea>
	</div>
	<div class="result-left-title" style="margin-top:10px">查询结果：
			<input type="button" value=" 提交 " id="rel_query" style="color:#000" />
			</div>
	<div class="result-cover">

		<div id="rela"></div>
	</div>
</div>
</body>
</html>