<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实体关系抽取演示</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
	<style type="text/css">
        /* cytoscape graph */
        #cy {
            height: 80%;
            width: 80%;
            position: absolute;
        }
    </style>
    <link rel="stylesheet" href="../static/css/nlp.css">
<!--	/deploy_flask/templates/-->
	<script src="../static/js/jquery-2.1.4.min.js"></script> <!--html文件所在位置为当前路径-->
	<script src="../static/js/cytoscape.min.js"></script>
    <SCRIPT LANGUAGE="JavaScript">

        function show_results(res) {  //$.get('/query',
			// console.log(res);
            cytoscape({
                container: document.getElementById('cy'),
				zoom:1,
				minZoom: 0.5,
	    		maxZoom: 1,
				pan: { x: 0, y: 0 },//图的初始平移位置。
				styleEnabled: true,
				hideLabelsOnViewport: false,
				zoomingEnabled: true,
				pixelRatio: 'auto',
                elements:res,
				style: [
					{ selector: 'node',
						css: {'background-color': '#6fb1fc', 'content': 'data(id)'}
						},
					{
						selector: 'edge',
						css: { // 这里的style改为css
							'background-color': '#6fb1fc', 'content': 'data(relationship)',
							// 添加箭头
							'width': 6,
							'line-color': '#ccc',
							'target-arrow-color': '#ccc',
							'target-arrow-shape': 'triangle',
							'curve-style': 'bezier'  // 添加这个之后，箭头才会出来，并且线不会重叠
						},
					}
					],
                layout: {
                	name: 'circle',//circle, cose（乱序）
				 	animate: true,//出来动画
					}
            });
        }
        function UrlPOST(txt,myfun){
            if (txt==""){
                return "error parm";
            }
            var httpurl = "/query";
            $.ajax({
                    type: "POST",
                    data: "text="+txt,
                    url: httpurl,
                    async:false,
                    success: function(data){
                        myfun(data);
                    }
            });
        }

        $(document).ready(function(){
            $("#bt_submit").click(function() {
                var txt = $("#txt").val();
                if (txt=="")
                { return; }
                var voc = "";
                voc = UrlPOST(txt,show_results);
            });
        });
		// 下面是处理知识图谱查询结果
        function UrlPOST_entity(name_entity,myfun){
            if (name_entity==""){
                return "error parm";
            }
            var httpurl = "/query_entity";
            $.ajax({
                    type: "POST",
                    data: "name_entity="+name_entity,
                    url: httpurl,
                    async:false,
                    success: function(data){
                        myfun(data);
                    }
            });
        }

        $(document).ready(function(){
            $("#entity_query").click(function() {
                var name_entity = $("#name_entity").val();
                if (name_entity=="")
                { return; }
                var voc = "";
                voc = UrlPOST_entity(name_entity,show_results);
            });
        });
    </SCRIPT>
</head>
<body class="ai-platform">
<div class="nlp-word">
	<div class="word-head">实体关系抽取演示版本: {{ version }}</div>
	<div class="word-form">
		<div class="com-text-cover">
			<div class="mid-down-title">
				<span class="down-title-des">请输入待分析的文本：</span>
			</div>
			<textarea name="txt" id="txt" spellcheck="false" maxlength="" class="com-txt" onfocus="this.select()">
吃什么：北宋的美食大家苏轼在美食方面的造诣绝对是常人无法比拟的，他留下的美食造福了无数后人，比如：东坡肉
李小璐反倒忙着在外捞金，让贾乃亮忙着操办新家，贾乃亮的家庭地位是要翻身了
歌曲介绍由大飞作词，深白色作曲，吕绍淳编曲的歌曲《直线》，属于专辑中深具爆发力的一首歌曲
			</textarea>
			<div class="ed-form-down"><span class="ed-down-tips">提示：无需处理格式，直接复制文本内容即可</span></div>
		</div>
	</div>
	<div class="result-cover">
			<div class="result-left-title">抽取结果：
			<input type="button" value=" 提交 " id="bt_submit" />
			</div>
<!--				<textarea name="result" id="result" spellcheck="false" maxlength="" class="com-txt">-->
<!--				</textarea>-->
<div id="cy"></div>
		<textarea name="name_entity" id="name_entity" spellcheck="false" maxlength="" class="com-entity" onfocus="this.select()">
			李彦宏
		</textarea>
		<div class="result-left-title">查询结果：
			<input type="button" value=" 提交 " id="entity_query" />
			</div>
<!--			<br/>-->
	</div>
  </div>

</body>
</html>